<div>
  <section class="flex flex-row justify-between items-center">
    <h1>Shipping Methods</h1>
    <button
      mat-raised-button
      class="!rounded-2xl border px-2 py-1 !bg-green-500 flex flex-row items-center"
      (click)="openAddShippingMethodDialog()"
    >
      <span>ADD</span>
      <mat-icon fontIcon="add"></mat-icon>
    </button>
  </section>
  <div class="w-full">
    <!-- table of shipping methods -->
    <mat-form-field class="!w-full">
      <mat-label>
        <div class="flex flex-row items-center">
          <mat-icon fontIcon="search"></mat-icon>
          <span>Search</span>
        </div>
      </mat-label>
      <input matInput [formControl]="shippingMethodSearch" />
    </mat-form-field>

    <div
      class="mx-auto border rounded-xl shadow-lg min-h-[616px] relative bg-white"
    >
      <div
        class="flex flex-row w-full h-14 items-center bg-black text-white rounded-tr-md rounded-tl-md"
      >
        <div class="w-32 mx-auto">Name</div>
        <div class="w-30 mx-auto">Price</div>
        <div class="w-30 mx-auto">Active</div>
        <div class="w-30 mx-auto">Actions</div>
      </div>
      <div
        class="flex flex-row w-full h-14 items-center rounded-tr-md rounded-tl-md"
        *ngFor="let shippingMethod of shippingMethods"
      >
        <div class="w-32 mx-auto">{{ shippingMethod.name }}</div>
        <div class="w-30 mx-auto">{{ shippingMethod.price }}</div>
        <div class="w-30 mx-auto">{{ shippingMethod.active }}</div>
        <div class="w-30 mx-auto flex flex-row gap-2">
          <button
            class="flex justify-center bg-yellow-300 border rounded-lg p-1"
            (click)="openEditShippingMethodDialog(shippingMethod)"
          >
            <mat-icon fontIcon="edit"></mat-icon>
          </button>
          <button
            class="flex justify-center bg-red-500 border rounded-lg p-1"
            (click)="openDeleteShippingMethodDialog(shippingMethod)"
          >
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
