<div class="w-full h-full">
  <mat-drawer-container
    [autosize]="true"
    class="min-h-full max-w-7x1 mx-auto border-x"
  >
    <mat-drawer mode="side" opened class="h-full !bg-[whitesmoke]">
      <app-category-nav></app-category-nav>
    </mat-drawer>
    <mat-drawer-content>
      <app-products-header></app-products-header>
      <!-- (columnsCountChange)="onColumnsCountChange($event)"
      (itemsCountChange)="onItemsCountChange($event)"
      (sortChange)="onSortChange($event)" -->
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
