<div class="w-11/12 mx-auto py-4">
  <a routerLink="/products" class="flex items-center gap-2"
    ><button><mat-icon>arrow_back</mat-icon></button>BACK TO STORE</a
  >

  <div class="flex flex-col md:flex-row md:justify-between" *ngIf="product">
    <div class="md:hidden">
      <section>
        <h4 class="text-sm" *ngIf="product.brand">{{ product.brand.name }}</h4>
        <h2 class="!font-medium !text-3xl">{{ product.name }}</h2>
        <p
          class="font-medium text-base"
          *ngIf="!selectedProductVariant; else variantPrice"
        >
          {{ product.price | currency }}
        </p>
        <ng-template #variantPrice>
          <p class="font-medium text-base">
            {{ selectedProductVariant?.price | currency }}
          </p>
        </ng-template>
      </section>
    </div>
    <div
      class="flex flex-col w-full md:w-[49%] h-auto md:items-center md:justify-center"
    >
      <div
        class="flex justify-center w-full h-[400px] md:h-[700px] relative group"
      >
        <img
          mat-card-image
          class="max-h-full max-w-full object-cover self-center"
          [src]="displayImage.url"
          [alt]="'Image of ' + product.name"
        />
        <div
          *ngIf="displayImages?.length"
          class="flex flex-row justify-between absolute w-full top-1/2 md:invisible group-hover:visible z-50"
        >
          <button
            class="p-1 rounded-full bg-slate-300 flex items-center"
            (click)="scrollImageLeft()"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            class="p-1 rounded-full bg-slate-300 flex items-center"
            (click)="scrollImageRight()"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>

      <div>
        <div class="flex flex-row gap-4 py-3">
          <button
            class="w-20 h-20 rounded-md"
            [ngClass]="{
              'border border-black': displayImage.index === index
            }"
            *ngFor="let image of displayImages; index as index"
            (click)="setDisplayImage(image.url, index)"
          >
            <img
              [src]="image.url"
              class="h-full w-full object-cover rounded-md"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="md:w-[49%]">
      <div class="flex flex-col mx-auto md:w-2/3 gap-3">
        <div class="hidden md:block">
          <h4 class="text" *ngIf="product.brand">{{ product.brand.name }}</h4>
          <h2 class="!font-medium !text-3xl">{{ product.name }}</h2>
          <p
            class="font-medium text-base"
            *ngIf="!selectedProductVariant; else variantPrice"
          >
            {{ product.price | currency }}
          </p>
          <ng-template #variantPrice>
            <p class="font-medium text-base">
              {{ selectedProductVariant?.price | currency }}
            </p>
          </ng-template>
        </div>
        <mat-divider class="!border-t-slate-400"></mat-divider>
        <div class="flex flex-col gap-5">
          <div *ngFor="let attributeGroup of attributeGroups; index as i">
            <p>{{ attributeGroup.name }}:</p>
            <mat-button-toggle-group class="">
              <mat-button-toggle
                class=""
                *ngFor="let attribute of attributeGroup.attributes"
                [disabled]="disableOption(i, attributeGroups[0], attribute)"
                mat-stroked-button
                [checked]="
                  selectedOptions.get(attributeGroup.id!) === attribute.id
                "
                (click)="onSelectOption(attributeGroup.id!, attribute.id!, i)"
              >
                {{ attribute.name }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="flex flex-row items-center mx-auto justify-evenly w-full">
            <div class="flex flex-row items-center w-min h-10">
              <button
                class="flex items-center border border-slate-400 rounded-l-full w-full h-full px-2 hover:bg-[#3f51b5] hover:text-white"
                (click)="onDecrementQuantity()"
              >
                <mat-icon class="">remove</mat-icon>
              </button>
              <span
                class="flex items-center text-nowrap border-y border-slate-400 h-full px-2"
                >Quantity: {{ productQuantity }}</span
              >
              <button
                class="flex items-center border border-slate-400 rounded-r-full w-full h-full px-2 hover:bg-[#3f51b5] hover:text-white"
                (click)="onIncrementQuantity()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <button
              mat-raised-button
              color="primary"
              class="!h-10 !text-lg !rounded-full max-w-[50%] w-[420px]"
              [disabled]="checkIfSoldOut()"
              (click)="onAddToCart()"
            >
              {{ checkIfSoldOut() ? "Sold Out" : "Add to Cart" }}
            </button>
          </div>
        </div>
        <mat-divider class="!border-t-slate-400"></mat-divider>

        <div>
          <p class="text-xl">Description:</p>
          <p
            class="whitespace-pre-line leading-loose text-lg text-red-600 font-medium"
          >
            {{ product.description ? product.description : "No Description." }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
