<div class="w-full h-full">
  <mat-drawer-container
    [autosize]="true"
    class="min-h-full h-full max-w-7x1 mx-auto border-x"
    (backdropClick)="onIsOpenUpdated()"
  >
    <mat-drawer
      [mode]="isMobileDisplay ? 'over' : 'side'"
      [opened]="isMobileDisplay ? navBarIsOpen : true"
      class="h-full !bg-[#78866b]"
      disableClose
    >
      <app-category-nav></app-category-nav>
    </mat-drawer>
    <mat-drawer-content
      style="
        background-image: linear-gradient(
            rgba(250, 250, 250, 0.7),
            rgba(250, 250, 250, 0.7)
          ),
          url('/assets/images/mascots.png');
      "
    >
      <div class="w-full z-20 text-center bg-red-500 text-white mb-3">
        This is a test site, server may need to cold start, please wait.
      </div>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
