<div>
  <h1>Edit Category</h1>
  <form *ngIf="category" class="flex flex-col" [formGroup]="editCategoryForm">
    <div class="flex flex-row gap-5">
      <mat-form-field>
        <mat-label> Name </mat-label>
        <input
          formControlName="name"
          matInput
          (keyup)="handleSlugFromName($event)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Slug </mat-label>
        <input formControlName="slug" matInput (keyup)="handleSlug()" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label> Description </mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Subcategories </mat-label>
      <mat-select multiple formControlName="subcategories">
        <mat-option
          *ngFor="let subcategory of subcategories"
          [value]="subcategory.id"
          >{{ subcategory.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="editCategory()">
      Save
    </button>
  </form>
</div>
