<div class="flex flex-col justify-center w-1/2 h-full mx-auto">
  <div class="flex flex-row gap-10 items-center py-10">
    <h1>CONTACT</h1>
    <p class="text-red-500">Email: pseudo@pseudo-corp.com</p>
  </div>
  <mat-divider></mat-divider>
  <div class="flex flex-row gap-10 items-center py-10">
    <h1>SHIPPING</h1>
    <p class="text-red-500">
      All orders will be processed and shipped out within 5-10 business days.
      All orders shipped via UPS or USPS
    </p>
  </div>
  <mat-divider></mat-divider>

  <p class="text-center text-2xl py-10">
    ALL SALES FINAL NO REFUNDS OR EXCHANGES
  </p>
</div>
