<div class="w-full h-full py-10 overflow-y-scroll">
  <div class="w-[90%] mx-auto flex flex-col gap-5">
    <ng-container *ngIf="accountInformation">
      <div class="flex flex-col bg-white p-3 w-max">
        <h1 class="!text-2xl !font-semibold underline">Account Information</h1>
        <div>
          <h2>Email</h2>
          <p>{{ accountInformation.email }}</p>
        </div>
        <div class="flex flex-row gap-8">
          <div>
            <h2>First Name</h2>
            <p>{{ accountInformation.firstName }}</p>
          </div>
          <div>
            <h2>Last Name</h2>
            <p>{{ accountInformation.lastName }}</p>
          </div>
        </div>
        <button
          class="w-1/6"
          mat-raised-button
          color="warn"
          type="button"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
      <form
        [formGroup]="changePasswordForm"
        *ngIf="!accountInformation.socialProvider"
        (ngSubmit)="changePassword()"
        #formDir="ngForm"
        class="bg-white p-3 w-max"
      >
        <h1 class="!text-2xl !font-semibold underline">Change Password</h1>
        <div class="flex flex-col">
          <mat-form-field class="w-[300px] sm:w-[400px]">
            <mat-label>Old Password</mat-label>
            <input matInput type="password" formControlName="oldPassword" />
            <mat-error
              *ngIf="
                changePasswordForm.controls['oldPassword']?.hasError('required')
              "
            >
              Required.
            </mat-error>
          </mat-form-field>

          <div class="flex flex-col sm:flex-row gap-5 sm:gap-10">
            <div class="w-[300px] sm:w-[400px]">
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="newPassword" />
                <mat-error
                  *ngIf="changePasswordForm.get('newPassword')?.errors"
                  class="flex flex-col"
                >
                  <ul style="list-style-type: circle">
                    <li
                      *ngIf="
                        changePasswordForm.controls['newPassword']?.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </li>
                    <li
                      *ngIf="
                        changePasswordForm.controls['newPassword']?.hasError(
                          'minlength'
                        )
                      "
                    >
                      Minimum password length must be at least 8 characters.
                    </li>
                    <li
                      *ngIf="
                        changePasswordForm
                          .get('newPassword')
                          ?.hasError('maxlength')
                      "
                    >
                      Maximum password length must be no more than 32
                      characters.
                    </li>
                    <li
                      *ngIf="
                        changePasswordForm.controls['newPassword']?.hasError(
                          'pattern'
                        )
                      "
                    >
                      <ul>
                        <li
                          *ngIf="!changePasswordForm.get('newPassword')?.errors?.['passwordStrength'].hasUpperCase"
                        >
                          Password must contain an uppercase letter.
                        </li>
                        <li
                          *ngIf="!changePasswordForm.get('newPassword')?.errors?.['passwordStrength'].hasLowerCase"
                        >
                          Password must contain a lowercase letter.
                        </li>
                        <li
                          *ngIf="!changePasswordForm.get('newPassword')?.errors?.['passwordStrength'].hasNumeric"
                        >
                          Password must contain a number.
                        </li>
                        <li
                          *ngIf="!changePasswordForm.get('newPassword')?.errors?.['passwordStrength'].hasSymbol"
                        >
                          Password must contain a symbol (E.g. !&#64;#$%^&*( )[
                          ]).
                        </li>
                      </ul>
                    </li>
                  </ul>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-[300px] sm:w-[400px]">
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label>Re-Type New Password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="retypedNewPassword"
                />
                <mat-error
                  *ngIf="
                    changePasswordForm.controls['retypedNewPassword']?.errors
                  "
                >
                  <ul style="list-style-type: circle">
                    <li
                      *ngIf="
                        changePasswordForm.controls['newPassword']?.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </li>
                    <li
                      *ngIf="
                        changePasswordForm.controls[
                          'retypedNewPassword'
                        ]?.hasError('passwordsNotEquivalent')
                      "
                    >
                      New password must match submitted password.
                    </li>
                  </ul>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <button
          mat-raised-button
          color="primary"
          [disabled]="changePasswordForm.invalid"
          class="mt-3"
        >
          Save
        </button>
      </form>
    </ng-container>
    <!-- Order Table -->
    <ng-container *ngIf="accountOrders">
      <div class="bg-white">
        <div class="flex flex-row justify-between items-center m-3">
          <h1 class="!text-2xl !font-semibold underline">Order History</h1>
          <div class="flex flex-col sm:flex-row w-fit items-center gap-3">
            <span class="whitespace-nowrap">Items Per Page:</span>
            <mat-form-field subscriptSizing="dynamic" class="!w-[80px]">
              <mat-select
                type="number"
                [formControl]="itemsPerPage"
                [value]="10"
                (selectionChange)="changeItemsPerPage()"
                class="!w-full"
              >
                <mat-option [value]="10">10</mat-option>
                <mat-option [value]="20">20</mat-option>
                <mat-option [value]="25">25</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div
          class="mx-auto border rounded-xl shadow-lg h-max relative bg-white w-full"
        >
          <div
            class="flex flex-row w-full h-14 py-3 font-medium text-base bg-black text-white"
          >
            <div class="w-32 sm:w-40 mx-auto text-center">Email</div>
            <div class="w-40 mx-auto text-center">Date</div>
            <div class="w-20 mx-auto text-center">Total</div>
            <div class="w-20 mx-auto hidden sm:block text-center">Status</div>
            <div class="w-20 mx-auto text-center">Details</div>
          </div>
          <div
            *ngFor="let order of accountOrders"
            class="flex flex-row w-full h-12 items-center odd:bg-slate-200"
          >
            <div
              class="w-32 sm:w-40 mx-auto truncate hover:overflow-visible text-center"
            >
              {{ order.customerEmail }}
            </div>
            <div class="w-40 mx-auto text-center">{{ order.date | date }}</div>
            <div class="w-20 mx-auto text-center">
              {{ order.orderTotal | currency }}
            </div>
            <div class="w-20 mx-auto hidden sm:block text-center">
              {{ order.status }}
            </div>
            <div class="w-20 mx-auto text-center">
              <button (click)="openDialog(order)">
                <mat-icon>receipt</mat-icon>
              </button>
            </div>
          </div>
          <!-- pagination controls -->
          <div
            class="flex flex-row justify-between items-center h-max w-full px-10 py-3 border-t"
          >
            <div>
              <button mat-raised-button (click)="prevOrderPage()">
                &laquo;
              </button>
            </div>
            <div>
              <span>{{ currentPage }}</span>
              <span> of </span>
              <span>{{ totalPages }}</span>
            </div>
            <div>
              <button mat-raised-button (click)="nextOrderPage()">
                &raquo;
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
