<div class="w-full h-full">
  <div class="flex flex-row justify-between items-center">
    <h1>Categories</h1>
    <button
      mat-raised-button
      class="!rounded-2xl border px-2 py-1 !bg-green-500"
    >
      <a class="flex flex-row items-center" href="/admin/categories/add">
        <span>ADD</span>
        <mat-icon fontIcon="add"></mat-icon>
      </a>
    </button>
  </div>
  <div class="w-full flex flex-col overflow-hidden flex-1">
    <!-- table of categories -->
    <mat-form-field class="!w-full h-max">
      <mat-label>
        <div class="flex flex-row items-center">
          <mat-icon fontIcon="search"></mat-icon>
          <span>Search</span>
        </div>
      </mat-label>
      <input matInput [formControl]="categorySearch" />
    </mat-form-field>

    <div
      class="flex flex-col w-full mx-auto border rounded-xl shadow-lg min-h-[616px] bg-white"
    >
      <div
        class="flex flex-row w-full h-14 items-center bg-black text-white rounded-tr-md rounded-tl-md"
      >
        <div class="w-32 mx-auto">Name</div>
        <div class="w-32 mx-auto">Slug</div>
        <div class="w-80 mx-auto">Subcategories</div>
        <div class="w-40 mx-auto"></div>
      </div>
      <div class="overflow-y-scroll">
        <div
          class="flex flex-row w-full h-14 items-center"
          *ngFor="let category of categories"
        >
          <div class="w-32 mx-auto">
            {{ category.name }}
          </div>
          <div class="w-32 mx-auto">{{ category.slug }}</div>
          <div class="w-80 mx-auto">
            <span
              *ngFor="
                let subcategory of category.children;
                index as i;
                count as count
              "
            >
              {{ subcategory.name }}{{ i < count - 1 ? "," : "" }}&nbsp;
            </span>
          </div>
          <div class="w-40 mx-auto flex flex-row gap-2">
            <button class="bg-yellow-300 border rounded-lg p-1">
              <a
                class="flex justify-center"
                [routerLink]="'/admin/categories/edit/' + category.id"
              >
                <mat-icon fontIcon="edit"></mat-icon>
              </a>
            </button>
            <button
              class="flex justify-center bg-red-500 border rounded-lg p-1"
              (click)="openDeleteCategoryDialog(category)"
            >
              <mat-icon fontIcon="delete"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
