<mat-toolbar>
  <mat-toolbar-row class="!p-0 !w-full"
    ><button
      class="!w-full h-full hover:bg-[rgba(0,0,0,0.05)]"
      routerLink="/admin/customers"
    >
      Customers
    </button></mat-toolbar-row
  >
  <mat-toolbar-row class="!p-0 !w-full"
    ><button
      class="!w-full h-full hover:bg-[rgba(0,0,0,0.05)]"
      routerLink="/admin/orders"
    >
      Orders
    </button></mat-toolbar-row
  >
  <mat-toolbar-row class="!p-0 !w-full"
    ><button
      class="!w-full h-full hover:bg-[rgba(0,0,0,0.05)]"
      routerLink="/admin/categories"
    >
      Categories
    </button></mat-toolbar-row
  >
  <mat-toolbar-row class="!p-0 !w-full"
    ><button
      class="!w-full h-full hover:bg-[rgba(0,0,0,0.05)]"
      routerLink="/admin/brands"
    >
      Brands
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="!p-0 !w-full"
    ><button
      class="!w-full h-full hover:bg-[rgba(0,0,0,0.05)]"
      routerLink="/admin/products"
    >
      Products
    </button></mat-toolbar-row
  >
  <mat-toolbar-row class="!p-0 !w-full"
    ><button
      class="!w-full h-full hover:bg-[rgba(0,0,0,0.05)]"
      routerLink="/admin/shipping-methods"
    >
      Shipping Methods
    </button></mat-toolbar-row
  >
</mat-toolbar>
