<div
  class="flex w-max h-[42px] bg-[#4285f4] rounded-sm shadow-[0_3px_4px_0_rgba(0, 0, 0, 0.25)] active:!bg-[#1669f2] hover:!shadow-[0_0_6px_#4285f4] mx-auto relative"
>
  <div class="m-[1px] w-[40px] h-[40px] rounded-sm bg-white">
    <img
      class="m-[11px] w-[18px] h-[18px]"
      src="/assets/images/Google__G__logo.svg"
    />
  </div>
  <button
    class="float-right m-[11px] text-white text-sm tracking-[0.2px] font-[Roboto]"
  >
    <a href="http://localhost:4000/auth/google" class="w-full text-center">
      <b>Continue with Google</b>
    </a>
  </button>
</div>
