<mat-card
  class="flex relative items-center p-3 w-[300px] cursor-pointer !shadow-2xl"
  *ngIf="product"
  [ngClass]="{ 'text-center': !fullWidthMode, flex: fullWidthMode }"
  [routerLink]="'/products/' + this.product.id.toString()"
  [queryParams]="queryParams"
>
  <img
    mat-card-image
    class="mx-auto p-2"
    [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode }"
    [src]="displayImage"
  />
  <mat-card-actions>
    <button *ngFor="let color of colors">
      <img
        name="option"
        [src]="color.images?.[0]?.url"
        [alt]="color.name"
        class="w-7 h-7"
        (mouseenter)="hoverImg(color.images![0].url, color.name)"
      />
    </button>
  </mat-card-actions>
  <div class="h-max">
    <p class="truncate hover:whitespace-normal">
      {{ product.name | uppercase }}
    </p>
    <p class="text-sm">
      {{ product.price | currency }}
    </p>
  </div>
</mat-card>
