<mat-card
  class="flex items-center p-3 w-[300px] !h-[400px] cursor-pointer !shadow-2xl"
  *ngIf="product"
  [ngClass]="{ 'text-center': !fullWidthMode, flex: fullWidthMode }"
>
  <div
    class="flex justify-center h-[75%] w-full"
    [routerLink]="'/products/' + this.product.id.toString()"
    [queryParams]="queryParams"
  >
    <img
      mat-card-image
      class="mx-auto !max-w-full !max-h-full self-center object-cover"
      [src]="displayImage"
    />
  </div>

  <mat-card-actions class="!min-h-8">
    <button
      *ngFor="let color of colors"
      class="z-20"
      (click)="hoverImg(color.images![0].url, color.name)"
    >
      <img
        name="option"
        [src]="color.images?.[0]?.url"
        [alt]="color.name"
        class="w-7 h-7"
      />
    </button>
  </mat-card-actions>
  <div class="text-center h-[15%]">
    <p class="truncate hover:whitespace-normal">
      {{ product.name | uppercase }}
    </p>
    <p class="text-sm">
      {{ product.price | currency }}
    </p>
  </div>
</mat-card>
