<mat-card
  class="flex w-[300px] !min-h-[365px] cursor-pointer bg-white shadow-lg"
  *ngIf="product"
>
  <div
    class="group absolute h-full w-full cursor-pointer hover:z-10 hover:h-max hover:min-h-[365px] hover:border hover:border-black bg-inherit"
  >
    <div
      [id]="'image-wrapper-' + this.product.id"
      class="relative h-[300px] w-full bg-gradient-to-b from-gray-300 to-gray-100"
      [routerLink]="'/products/' + this.product.slug.toString()"
      [queryParams]="queryParams"
    >
      <img
        matCardImage
        class="w-full h-full object-contain"
        [src]="displayImage"
        alt="card image"
      />
      <p class="absolute bottom-0 left-1 bg-white text-xs group-hover:bottom-1">
        {{ available ? (price | currency) : "Sold Out" }}
      </p>
    </div>

    <div
      class="h-auto w-full items-center hidden group-hover:flex gap-5 px-2 pt-2"
      *ngIf="colors"
    >
      <ng-container *ngFor="let color of colors; index as i">
        <button
          *ngIf="i < 4"
          class="h-10 w-10 border-black bg-gradient-to-b from-gray-300 to-gray-100 hover:border-b"
          (mouseover)="hoverImg(color)"
          [routerLink]="'/products/' + this.product.slug.toString()"
          [queryParams]="queryParams"
        >
          <img
            name="option"
            [src]="color.images?.[0]?.url"
            [alt]="color.name"
            class="w-full h-full object-contain"
          />
        </button>
        <button *ngIf="i === 4" class="h-10 w-10 bg-gray-300 hover:border-b">
          +{{ colors.length - i }}
        </button>
      </ng-container>
    </div>
    <p class="truncate hover:whitespace-normal">
      {{ product.name | uppercase }}
    </p>
    <p *ngIf="colors" class="text-sm text-gray-400">
      {{ colors.length }} colors
    </p>
  </div>
</mat-card>
