<div class="flex flex-row justify-between">
  <form
    [formGroup]="checkoutForm"
    id="payment-form"
    class="w-3/5 mx-auto"
    (ngSubmit)="submitPaymentForm()"
  >
    <!-- Contact Form -->
    <h1>Contact Information</h1>
    <mat-divider></mat-divider>
    <p>Required Fields *</p>
    <mat-form-field class="p-3 w-full">
      <mat-label>Email</mat-label>
      <input matInput required="true" formControlName="email" name="email" />
    </mat-form-field>

    <!-- Shipping Address Form -->
    <app-google-places-autocomplete
      title="Shipping"
      [checkoutForm]="checkoutForm"
      (formEvent)="receiveShippingForm($event)"
    ></app-google-places-autocomplete>

    <div>
      {{ shippingSameAsBilling }}
    </div>

    <div>{{ shippingForm | json }}</div>
    <div>
      <mat-checkbox
        (change)="toggleBillingAddress()"
        checked="shippingSameAsBilling"
      >
        Same as my Shipping Address
      </mat-checkbox>
      <!-- Billing Address Form -->
      <app-google-places-autocomplete
        *ngIf="!shippingSameAsBilling"
        title="Billing"
        [phoneRequired]="false"
        (formEvent)="receiveBillingForm($event)"
      ></app-google-places-autocomplete>
      <div>
        <h1>Payment</h1>
      </div>
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
    </div>
    <button
      id="submit"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="checkoutForm.invalid || disablePaymentButton"
    >
      <div class="spinner hidden" id="spinner"></div>
      Pay now
    </button>
    <div id="payment-message" class="hidden"></div>
  </form>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="w-1/5 mx-auto">
    <div>
      <h1 class="font-bold">Order Summary</h1>
      <mat-divider></mat-divider>
      <div *ngFor="let item of cart.items" class="flex flex-row">
        <div class="flex justify-center w-28 h-28">
          <img
            [src]="item.image"
            alt="cart item image"
            class="max-w-28 max-h-28"
          />
        </div>
        <div class="w-[calc(100%-112px)]">
          <p class="font-semibold">{{ item.productName }}</p>
          <!-- <p>{{ item.sku }}</p> -->
          <p *ngIf="item.variant">
            <span
              *ngFor="
                let attribute of item.variant.productVariantAttributes;
                index as i
              "
            >
              {{ attribute.attribute.name | uppercase }}
              {{
                i < item.variant.productVariantAttributes.length - 1 ? "-" : ""
              }}
            </span>
          </p>
          <p class="flex justify-between">
            <span> Qty: {{ item.quantity }} </span>
            <span class="font-semibold">
              {{ item.price * item.quantity | currency }}
            </span>
          </p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="flex justify-between">
        <span>Subtotal</span>
        <span>{{ cartTotal | currency }}</span>
      </p>
      <p class="flex justify-between">
        <span>Shipping</span> <span>{{ 0 | currency }}</span>
      </p>
      <p class="flex justify-between">
        <span>Estimated Tax</span>
        <span>{{ 0 | currency }}</span>
      </p>
      <p class="flex justify-between" *ngIf="minimumCharged">
        <span>Minimum Charge</span>
        <span>
          {{ 1 | currency }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p class="font-semibold flex justify-between">
        <span>Total</span>
        <span>{{ stripeOrderTotal | currency }}</span>
      </p>
    </div>
  </div>
</div>
